html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#EditProfilePicturetext {
    display: none;
}

#EditProfilePicture:hover + #EditProfilePicturetext {
    display: block;
}

.navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;
    
}

.navbar-nav .nav-item {
    padding: 0 30px;
}

.navbar-brand {
    flex-grow: 1;
    text-align: left;
}
