@model ApplicationUser

<div class="row justify-content-center">
    <div class="col-12 col-md-4 text-center">
        <img src="~/Profilepictures/@Model.ProfilePicture" alt="Profil bild" class="img-fluid rounded-circle border border-primary w-50" />
    </div>
</div>


<div class="d-flex align-items-center gap-2">
    <span class="fs-2 me-3">@Model.UserName</span>
    @if(User.Identity.Name == Model.UserName)
    {
        <a asp-controller="Account" asp-action="EditProfile" class="btn btn-secondary">Redigera profil</a>
        <a asp-controller="Project" asp-action="MinaProjekt" class=" btn btn-secondary">Mina projekt</a>
		@if (Model.CV != null)
		{
			<a asp-controller="Cv" asp-action="RedigeraCV" class="btn btn-secondary">Redigera CV</a>
		}
		else
		{
			<a asp-controller="Cv" asp-action="SkapaCV" class="btn btn-secondary">Skapa CV</a>
		}
    }else{
        <a asp-controller="Cv" asp-action="CvDetaljer" asp-route-userId="@Model.Id" class="btn btn-primary">Visa CV</a>
    }
   

    
</div>
