@model ApplicationUser

@{
	ViewData["Title"] = "Utforska";
}

<h2>Välkommen till CV-Sidan @User.Identity.Name.Split('@')[0]</h2>

<form method="post" asp-controller="Account" asp-action="Logout">
    <button type="submit">Logga ut</button>
</form>


