@model List<Db.Models.Projektmodeller.CreateProject>

<h1>Alla Projekt</h1>

<!-- Tabell för att visa alla projekt -->
<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Beskrivning</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loopar igenom alla projekt skapat av aktiva användare-->
        @foreach (var project in Model.Where(p => p.User.IsActive))
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>
                    <!-- Länk för att visa deltagare i projektet -->
                    <a asp-controller="Project" asp-action="DetaljerSpecifiktProjekt" asp-route-projectId="@project.ProjectId" class="btn btn-primary">Visa deltagare</a>
                    <!-- Visar om användaren är skaparen av projektet -->
                    @if (User?.Identity?.Name == project.User?.UserName)
                    {
                        <p class="text-success">Skapare</p>
                    }
                    else if (project.ProjectUsers != null && project.ProjectUsers.Any(pu => pu.User.UserName == User?.Identity?.Name))
                    {
                        <p class="text-info">Redan med i projektet</p>
                    }
                    else
                    {
                        <form method="post" asp-controller="Project" asp-action="GåMedProjekt" asp-route-projectId="@project.ProjectId">
                            <button class="btn btn-outline-success" type="submit">Gå med</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
