@model Db.Models.Projektmodeller.CreateProject

<div>
    <h1>Skapa projekt</h1>
</div>

<form asp-action="SkapaProjekt" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Title">Titel</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label for="Description">Beskrivning</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div>
        <label>Startdatum</label>
		<input type="date" asp-for="StartDatum" class="form-control" />
        <span asp-validation-for="StartDatum" class="text-danger"></span>
    </div>
    <div>
         <label>Slutdatum (valbar)</label>
         <input type="date" asp-for="SlutDatum" class="form-control" />
    </div>
    <div>
        <label>Länk till projekt (valbar)</label>
        <input type="text" asp-for="ExternalLink" />
    </div>


    <button type="submit" class="btn btn-primary">Skapa</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}